.inputContainer {
  background-color: #3AD886;
  width: 50%;
  

}

.buttonContainer {

}
.button {
  padding: 8px 8px;
  background-color: #ED6B5A;
  margin: 3px 3px;
  border-radius: 5px;
  border: solid 1px;
}